*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(88, 124, 232, 0.845);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.from-validate{
    width: 300px;
    height: auto;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}
form{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}
input,button{
    border: none;
    background-color: rgba(211, 211, 211, 0.675);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-weight: lighter;
}
.search input{
    position: absolute;
    left: 48%;
    top: 25%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: rgba(211, 211, 211, 0.675);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-weight: lighter;
}

.search button{
    position: absolute;
    left: 56%;
    top: 25%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: rgba(211, 211, 211, 0.675);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-weight: lighter;
}

.products{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: absolute;
left: 50%;
top: 90%;
transform: translate(-50%,-50%);
}

.card{
width: 250px;
height: 200px;
border-radius: 20px;
padding: 16px 32px;
margin: 8px 16px;
background-color: #f6f6f6;
}

.image{
width: 100px;
height: 100px;
}